SECRET_KEY=your secret_key

EMAIL_BACKEND=django backend mail send
EMAIL_HOST=your smtp send mail
EMAIL_PORT=587
EMAIL_HOST_USER=youremail@gmail.com
DJANGO_EMAIL_HOST_PASSWORD=yourpasswords
DEFAULT_FROM_EMAIL=Research Start <youremail@gmail.com>